/*
 * Grid.
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Clearfix.
 */
.group::before,
.group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
 * Rows.
 */
.row {
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
}

/*
 * Typography.
 */
body {
  background: #293f50;
  color: #888;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1,
h3,
h4,
h5,
p {
  margin-bottom: 22px;
}

h1,
h2,
h3,
h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite,
em {
  font-style: italic;
}

/*
 * Links.
 */
a {
  color: #648880;
  text-decoration: none;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

a:hover {
  color: #a9b2b9;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

/*
 * Buttons.
 */
.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
 * Home.
 */
.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

/*
 * Primary header.
 */
.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

/*
 * Navigation.
 */
.nav {
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/*
 * Primary footer.
 */
.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}
